PORT = 3000
DATABASE_URL="postgresql://user:password@localhost:5432/nameDB?schema=public"
JWT_SECRET="super_secret_key_please_dont_use_my_big_str_to_generate_yor_key"
REFRESH_SECRET="wuigpaiehg[agoih[aegheaoghooemvbauf207527-4 -./x,peru09286y]]"

PRISMA_ENGINES_MIRROR=https://github.com/prisma/prisma-engines/releases
PRISMA_BINARIES_MIRROR=https://npmmirror.com/mirrors/prisma
PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING=1
